trigger:
- main

variables:
  imageName: ecommerce-app
  acrLoginServer: ctesthoodiniprojconreg.azurecr.io
  clusterName: example-aks1
  resourceGroup: example-resources
  namespace: ecommerce
  imageTag: $(Build.BuildID)


# BUILD IMAGE

stages:
- stage: Build
  displayName: Build Docker Image
  jobs:
  - job: BuildJob
    pool:
      name: agent_hoodini
    steps:
    - checkout: self
    - task: Docker@2
      displayName: Build Image
      inputs:
        command: build
        repository: $(acrLoginServer)/$(imageName)
        dockerfile: ecommerce_sanity_stripe-main/Dockerfile
        tags: $(imageTag)

# PUSH IMAGE TO ACR

- stage: Push
  displayName: Push Image to ACR
  dependsOn: Build
  jobs:
  - job: PushJob
    pool:
      name: agent_hoodini
    steps:
    - task: Docker@2
      displayName: Login to ACR
      inputs:
        command: login
        containerRegistry: acr-docker-conn

    - task: Docker@2
      displayName: Push Image
      inputs:
        command: push
        repository: $(imageName)
        containerRegistry: acr-docker-conn
        tags: $(imageTag)

#Detect and Deploy TO currently live environment 
- stage: DetectEnv
  displayName: Detect Live Environment
  dependsOn: Push
  jobs:
    - job : DetectJob
      pool:
        name: agent_hoodini
      steps:
      - task: AzureCLI@2
        name: setTarget
        displayName: detect current live environment(ie. blue or green)
        inputs:
          azureSubscription: devops-aks-acr
          scriptType: bash
          scriptLocation: inlineScript
          inlineScript: |
            echo "Connecting to AKS"
            az aks get-credentials \
              --resource-group $(resourceGroup) \
              --name $(clusterName) \
              --overwrite-existing

            LIVE=$(kubectl get svc ecommerce-service -n $(namespace) -o jsonpath='{.spec.selector.version}')
            echo "Live environment : $LIVE"

            if [ "$LIVE" = "blue" ]; then 
              TARGET="green"
            else
              TARGET="blue"
            fi

            echo "Target Deployment: $TARGET"

            echo "DEBUG TARGET inside Detect stage = $TARGET"


            echo "##vso[task.setvariable variable=targetEnv;isOutput=true]$TARGET"

- stage: Deploy
  displayName: Deploy to current environment
  dependsOn: DetectEnv
  variables:
    targetEnv: $[ stageDependencies.DetectEnv.DetectJob.outputs['setTarget.targetEnv'] ]
  jobs:
  - job: DeployJob
    pool:
      name: agent_hoodini
    steps:
    - task: AzureCLI@2
      displayName: Update Current Deployment
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "DEBUG targetEnv in this stage = $(targetEnv)"

          echo "Connecting to AKS"
          az aks get-credentials \
            --resource-group $(resourceGroup) \
            --name $(clusterName) \
            --overwrite-existing

          echo "Deploying versions $(imageTag) to $(targetEnv))"
          kubectl set image deployment/ecommerce-app-$(targetEnv) \
            ecommerce=$(acrLoginServer)/$(imageName):$(imageTag) \
            -n $(namespace)

          kubectl rollout status deployment/ecommerce-app-$(targetEnv) -n $(namespace)


# VALIDATE CURRENT ENV

- stage: Validate
  displayName: Validate Current Env Deployment
  dependsOn:
    - Deploy
    - DetectEnv
  variables:
    targetEnv: $[ stageDependencies.DetectEnv.DetectJob.outputs['setTarget.targetEnv'] ]
  jobs:
  - job: ValidateJob
    pool:
      name: agent_hoodini
    steps:
    - task: AzureCLI@2
      displayName: Health Check Current Env
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "DEBUG: targetEnv=$(targetEnv)"

          echo "Checking current pods"
          kubectl get pods -l version=$(targetEnv) -n $(namespace)

          echo "Checking rollout"
          kubectl rollout status deployment/ecommerce-app-$(targetEnv) -n $(namespace)


# APPROVAL + SWITCH TRAFFIC

- stage: Promote
  displayName: Promote target to Production
  dependsOn: Validate
  variables:
    targetEnv: $[ stageDependencies.DetectEnv.DetectJob.outputs['setTarget.targetEnv'] ]

  jobs:

  #  Approval Job (Agentless)
  - job: WaitForApproval
    displayName: Await Manual Approval
    pool: server
    steps:
    - task: ManualValidation@0
      timeoutInMinutes: 1440
      inputs:
        instructions: "Verify target deployment before switching traffic."
        notifyUsers: ''
        onTimeout: reject

  #  Switch Job (Runs on your self-hosted agent)
  - job: SwitchTraffic
    displayName: Switch Traffic to target
    dependsOn: WaitForApproval
    pool:
      name: agent_hoodini
    steps:
    - task: AzureCLI@2
      displayName: Switch Traffic to target
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Switching traffic to target deployment"

          az aks get-credentials \
            --resource-group $(resourceGroup) \
            --name $(clusterName) \
            --overwrite-existing

          kubectl patch svc ecommerce-service -n $(namespace) \
           -p '{"spec":{"selector":{"app":"ecommerce","version":"$(targetEnv)"}}}'

          echo "Traffic successfully switched"
          kubectl get endpoints ecommerce-service -n $(namespace)



# OPTIONAL ROLLBACK STAGE

- stage: Rollback
  displayName: Rollback to $(imageTag) deployment
  condition: false   
  jobs:
  - job: RollbackJob
    pool:
      name: agent_hoodini
    steps:
    - task: AzureCLI@2
      displayName: Rollback Traffic
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Rolling back to previous "
          kubectl patch svc ecommerce-service -n $(namespace) \
           -p '{"spec":{"selector":{"app":"ecommerce","version":"$(imageTag)"}})}'
           

          echo "Rollback complete"
