trigger:
- main
variables:
  imageName: ecommerce-app
  acrLoginServer: ctesthoodiniprojconreg.azurecr.io
  clusterName: example-aks1
  resourceGroup: example-resources
  namespace: ecommerce

stages:
- stage: Build
  displayName: Build Docker Image
  jobs:
  - job: BuildJob
    pool: 
        name: agent_hoodini
    steps:
    - checkout: self
    - task: Docker@2
      displayName: Build Image
      inputs:
        command: build
        repository: $(acrLoginServer)/$(imageName)
        dockerfile: ecommerce_sanity_stripe-main/Dockerfile
        tags: latest
- stage: Push
  displayName: Push image to acr
  dependsOn: Build
  jobs:
    - job: PushJob
      pool:
          name: agent_hoodini
      steps:
        - task: Docker@2
          displayName: Login to acr
          inputs:
            command: login
            containerRegistry: acr-docker-conn
        - task: Docker@2
          displayName: Push Image
          inputs: 
            command: push
            repository: $(imageName)
            containerRegistry: acr-docker-conn
            tags: latest
- stage: Deploy
  displayName: Deploy to AKS
  dependsOn: Push
  jobs:
  - job: DeployJob
    pool:
      name: agent_hoodini
    steps:
    - task: AzureCLI@2
      displayName: Deploy to Kubernetes
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az aks get-credentials \
            --resource-group $(resourceGroup) \
            --name $(clusterName) \
            --overwrite-existing

          kubectl set image deployment/ecommerce-app-green \
            ecommerce-app=$(acrLoginServer)/$(imageName):latest \
            -n $(namespace)

          kubectl rollout status deployment/ecommerce-app-green -n $(namespace)
    - task: AzureCLI@2
      displayName: switch traffic to green
      inputs:
        azureSubscription: devops-aks-acr
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Switching traffic to GREEN deployment"

          kubectl patch svc ecommerce-service -n $(namespace) \
           -p '{"spec":{"selector":{"app":"ecommerce","version":"green"}}}'

           echo "Traffic switched to GREEN"

           kubectl get endpoints ecommerce-service -n $(namespace)
